
body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span{
  color:navy;
}

#beauty{        /*img*/
  float:right;
  height: 200px;
  margin: 20px;
}

#construction{     /*img*/
  float:left;
  margin-right: 30px;
  height: 200px;
}

p{
  text-align: justify;
}

div h2 {
  margin-top: 150px;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media only screen and (max-width: 768px) {
  body {
    margin: 30px;
  }

  #beauty,
  #construction {
    float: none;
    margin: 20px auto;
  }

  div h2 {
    margin-top: 50px;
  }

  footer {
    text-align: center;
  }
}

/* Media Query for screens up to 992px width */
@media only screen and (max-width: 992px) {
  body {
    margin: 20px;
  }

  h1 {
    font-size: 4rem;
  }

  #beauty,
  #construction {
    height: 150px;
  }

  div h2 {
    margin-top: 30px;
  }
}

/* Media Query for screens up to 1200px width */
@media only screen and (max-width: 1200px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 3rem;
  }

  #beauty,
  #construction {
    height: 100px;
  }

  div h2 {
    margin-top: 10px;
  }
}